<div id="containter">
  <div id="map-canvas"></div>

  <div class="bubblingG">
    <span id="bubblingG_1"></span>
    <span id="bubblingG_2"></span>
    <span id="bubblingG_3"></span>
  </div>

  <div id="loader">
    <%= image_tag("ajax-loader.gif") %>
  </div>

  <div id="myModal" class="modal">
    <div class="modal-content">
      <span id="spanClose">×</span>
      <div id="inner-content">
        <h2>Desired # of Bikes</h2>
        <%= form_tag "/maps/all_data", id: "minNum" do %>
          <%= text_field_tag :custom %>
          <%= submit_tag %>
        <% end %>
      </div>
    </div>
  </div>

</div>