// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html {
  height: 100%;
  width: 100%
}

#container {
  width: 100%;
  height: 100%;
}

#map-canvas {
  width: 100%;
  height: 100vh;
}