// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html {
  height: 100%;
  width: 100%
}

#container {
  position: relative;
}

#action {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 99
}

#map-canvas {
  width: 100%;
  height: 100vh;
}

